@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  padding: 0%;
  margin: 0%;
  background: black;
}

// introduction wrapper

.introWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

// introduction title text

.introTitleBox {
  font-size: 96px;
  font-family: 'Bebas Neue', serif;
}

.introTitleBox .text {
  color: white;
}

// introduction body text

.textBox {
  font-size: 48px;
  font-family: 'Bebas Neue', serif;
  line-height: 1.2;
}

.textBox .mask {
  display: block;
}

.textBox .mask .text{
  -webkit-text-fill-color: rgba(255,255,255,0.2);
  // let background clip limits only text area so it won't exceed the text area
  background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white);
  // let width of background to be 0% and height to be 100% 
  background-size: 0% 100%;
}

// projects wrap

.wrap {
  position: relative;
  margin: 0 auto;
  background: #141212;
}

.container {
  padding: 500px 0 1000px;
}

.container .inner {
  padding: 0 50px;
  box-sizing: border-box;
}

// projects page title

.container .inner .mainTextBox .pageTitle {
  font-size: 48px;
  font-family: 'Bebas Neue';
  margin-bottom: 20px;
  color: white;
}

.container .inner .mainTextBox .pageSubtitle {
  font-family: 'Bebas Neue';
  color: #b4b4b4;
  margin-bottom: 50px;
}

// projects list

.container .inner .projectList {
  perspective: 900px;
}

.container .inner .projectList .project {
  background: white;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 30px 50px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  filter: brightness(1);
}

.container .inner .projectList .project .topBox {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #888;
  padding-bottom: 20px;
}

.container .inner .projectList .project .topBox h3 {
  font-size: 48px ;
  margin: 0;
}

.container .inner .projectList .project .topBox ul.icons {
  display: flex;
  list-style: none;
  padding: 0;
}

.container .inner .projectList .project .topBox ul.icons li {
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.container .inner .projectList .project .topBox ul.icons li img {
  width: 100%;
}

.container .inner .projectList .project .bottomBox {
  display: flex;
  justify-content: space-between;
}

.container .inner .projectList .project .bottomBox .num {
  font-size: 300px;
  font-weight: 600px;
  margin: 0;
}

.container .inner .projectList .project.a .bottomBox .num {
  color: #ff764a;
}

.container .inner .projectList .project.b .bottomBox .num {
  color: #aaa8ef;
}

.container .inner .projectList .project.c .bottomBox .num {
  color: #ffb84f;
}

.container .inner .projectList .project .bottomBox .descriptionBox {
  width: 40%;
  padding-top: 100px;
}

.container .inner .projectList .project .bottomBox .descriptionBox .projectDescription1 {
  font-size: 28px;
  font-weight: 500;
  color: #353535;
  margin-bottom: 30px;
}

.container .inner .projectList .project .bottomBox .descriptionBox .projectDescription2 {
  color: #646464;
  margin-bottom: 15px;
}







// .navy {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background-color: #333D51;
//   color: #F4F3EA;
// }

// .grey {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background-color: #CBD0D8;
// }

// .num {
//   position: absolute;
//   left: 20px;
//   bottom: 20px;
//   font-size: 2vw;
//   line-height: 1;
// }

// #section1 .welcome {
//   font-size: 5vw;
// }

// #section2 .greeting_text {
//   font-size: 2vw;
// }

// #section3 .vision_text {
//   font-size: 2vw;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   width: 80vw;
//   padding: 3vh;
//   text-align: center;
//   background-color: #333D51;
// }

// .text h2 {
//   text-align: center;
//   vertical-align: middle;
// }