@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

// .wrapper {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }

.blue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background-color: #333D51;
  // color: #F4F3EA;
}

.grey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background-color: #CBD0D8;
}

// .greeting {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background-color: #333D51;
//   color: #F4F3EA;
// }

// .vision {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background-color: #CBD0D8;
// }

.text h2 {
  text-align: center;
  vertical-align: middle;
}